@import url('https://fonts.googleapis.com/css2?family=Solway:wght@300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Solway:wght@300;400;500;700;800&display=swap');


@import "tailwindcss";

/* Hide scrollbar for Chrome, Safari, Edge */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.font-solway {
  font-family: 'Solway', serif;
}
.font-playfair {
  font-family: 'Playfair Display SC', serif;
}